{% extends 'base.html' %}

{% load staticfiles %}

{% block content %}
    <div class="bg1">
        {% include 'header.html' %}
        <div class="content1 grid">
            <h1>Добро пожаловать в Кыргызстан!</h1>

            <a href="#" class="link_button">Смотреть видео</a>
        </div>
    </div>

    <div class="bg2">
        <div class="content2 grid">
            <div class="tours">
                <h2>Популярные места для посещения</h2>

                <div class="places">
                    <div class="place column1">
                        <a href="#" class="b_block">
                            <span class="n_place">Ала-Арча</span>
                            <div class="p_hover">
                                <div class="h_content">
                                    <span>Путеводитель по</span>
                                    <span>Караколу</span>
                                </div>
                            </div>
                            <img src="{% static 'images/place1.jpg' %}" alt="image">
                        </a>
                    </div>

                    <div class="place column2">
                        <a href="#" class="b_block">
                            <span class="n_place">Ала-Арча</span>
                            <div class="p_hover">
                                <div class="h_content">
                                    <span>Путеводитель по</span>
                                    <span>Караколу</span>
                                </div>
                            </div>
                            <img src="{% static 'images/place2.jpg' %}" alt="image">
                        </a>
                    </div>

                    <div class="place column3">
                        <a href="#" class="min_place">
                            <span class="n_place">Ала-Арча</span>
                            <div class="p_hover">
                                <div class="h_content">
                                    <span>Путеводитель по</span>
                                    <span>Караколу</span>
                                </div>
                            </div>
                            <img src="{% static 'images/place3.jpg' %}">
                        </a>

                        <a href="#" class="min_place">
                            <span class="n_place">Ала-Арча</span>
                            <div class="p_hover">
                                <div class="h_content">
                                    <span>Путеводитель по</span>
                                    <span>Караколу</span>
                                </div>
                            </div>
                            <img src="{% static 'images/place4.jpg' %}">
                        </a>
                    </div>
                </div>

                <a href="#" class="link_button">показать еще</a>
            </div>

            <div class="tours">
                <h2>Популярные Занятия</h2>

                <div class="places">
                    <div class="place column3">
                        <a href="#" class="min_place">
                            <span class="n_place">Ала-Арча</span>
                            <div class="p_hover">
                                <div class="h_content">
                                    <span>Путеводитель по</span>
                                    <span>Караколу</span>
                                </div>
                            </div>
                            <img src="{% static 'images/place3.jpg' %}">
                        </a>

                        <a href="#" class="min_place">
                            <span class="n_place">Ала-Арча</span>
                            <div class="p_hover">
                                <div class="h_content">
                                    <span>Путеводитель по</span>
                                    <span>Караколу</span>
                                </div>
                            </div>
                            <img src="{% static 'images/place4.jpg' %}">
                        </a>
                    </div>

                    <div class="place column2">
                        <a href="#" class="b_block">
                            <span class="n_place">Ала-Арча</span>
                            <div class="p_hover">
                                <div class="h_content">
                                    <span>Путеводитель по</span>
                                    <span>Караколу</span>
                                </div>
                            </div>
                            <img src="{% static 'images/place2.jpg' %}" alt="image">
                        </a>
                    </div>

                    <div class="place column1">
                        <a href="#" class="b_block">
                            <span class="n_place">Ала-Арча</span>
                            <div class="p_hover">
                                <div class="h_content">
                                    <span>Путеводитель по</span>
                                    <span>Караколу</span>
                                </div>
                            </div>
                            <img src="{% static 'images/place1.jpg' %}" alt="image">
                        </a>
                    </div>
                </div>

                <a href="#" class="link_button">показать еще</a>
            </div>
        </div>
    </div>

    <div class="bg3">
        <div class="content3 grid">
            <h3>Посмотрите видео о природе кыргызстана</h3>

            <p>Посмотрите на прекрасные горы, озера и другие достопримечательности горной республики!</p>

            <div class="line"></div>

            <div class="iframe">

            </div>
        </div>
    </div>

    <div class="bg4">
        <div class="content4 grid">


            <div class="gallery">
                <h2>@BORBORASIA</h2>

                <div class="images">
                    <div class="image">
                        <div class="min_img">
                            <img src="assets/images/img1.jpg" alt="image">
                            <span><img src="assets/images/insta.png" alt="image"></span>
                        </div>

                        <div class="min_img">
                            <img src="assets/images/img1.jpg" alt="image">
                            <span><img src="assets/images/insta.png" alt="image"></span>
                        </div>

                        <div class="min_img">
                            <img src="assets/images/img1.jpg" alt="image">
                            <span><img src="assets/images/insta.png" alt="image"></span>
                        </div>

                        <div class="min_img">
                            <img src="assets/images/img1.jpg" alt="image">
                            <span><img src="assets/images/insta.png" alt="image"></span>
                        </div>
                    </div>

                    <div class="image b_img">
                        <img src="assets/images/img2.jpg" alt="image">
                        <span><img src="assets/images/insta.png" alt="image"></span>
                    </div>
                </div>

                <a href="#" class="link_button">показать еще</a>
            </div>

            <div class="comments_block">
                <h2>Отзывы</h2>

                <div class="comments">
                    <a href="#" class="comment">
                        <div class="com_img">
                            <img src="{% static 'images/comm1.jpg' %}" alt="image">
                        </div>

                        <h3>Сон Кол</h3>

                        <p>
                            В день поездки погода была отличная, озеро невероятной красоты. Дорога была долгой, и
                            немного
                            утомительной, но оно того стоило. Успели сделать много снимков, насладиться природой и
                            услышать
                            множество историй...
                        </p>

                        <div class="author">
                            <p>Давыдова Мадина</p>
                            <p>18.04.2017</p>
                        </div>
                    </a>

                    <a href="#" class="comment">
                        <div class="com_img">
                            <img src="{% static 'images/comm1.jpg' %}" alt="image">
                        </div>

                        <h3>Сон Кол</h3>

                        <p>
                            В день поездки погода была отличная, озеро невероятной красоты. Дорога была долгой, и
                            немного
                            утомительной, но оно того стоило. Успели сделать много снимков, насладиться природой и
                            услышать
                            множество историй...
                        </p>

                        <div class="author">
                            <p>Давыдова Мадина</p>
                            <p>18.04.2017</p>
                        </div>
                    </a>

                    <a href="#" class="comment">
                        <div class="com_img">
                            <img src="{% static 'images/comm1.jpg' %}" alt="image">
                        </div>

                        <h3>Сон Кол</h3>

                        <p>
                            В день поездки погода была отличная, озеро невероятной красоты. Дорога была долгой, и
                            немного
                            утомительной, но оно того стоило. Успели сделать много снимков, насладиться природой и
                            услышать
                            множество историй...
                        </p>

                        <div class="author">
                            <p>Давыдова Мадина</p>
                            <p>18.04.2017</p>
                        </div>
                    </a>
                </div>

                <a href="#" class="link_button">Все отзывы</a>
            </div>
        </div>
    </div>

{% endblock %}