{% extends 'base.html' %}

{% load staticfiles %}


{% block content %}
    <div class="a_bg1">
        {% include 'header.html' %}
        <div class="a_content1 grid">
            <div class="about">
                <div class="about_img">
                    <img src="{% static 'images/about_img.jpg' %}" alt="image">
                </div>

                <div class="about_desc">
                    <h3>О Нас</h3>

                    <p>
                        В 2016-году была основана компания ОсОО «Борбор Эйжа» «BorborAsia». Предпосылкой создания
                        компании
                        послужил проект «КЕТТИК», который был организован и реализован лидером компании Бектемиром
                        Мамаюсуповым и нашей командой. Путешествуя по кыргызской земле по проекту «КЕТТИК» мы ощутили
                        весь
                        размах туристического потенциала страны, благодаря чему зародилась миссия поделиться со всем
                        миром -
                        нашими восхищениями, самыми тёплыми чувствами, которые возникли от увиденной нами удивительной
                        красоты природы кыргызской земли. Для достижения нашей миссии мы создали туристическое
                        агентство.<br>
                        Цель:<br>
                        Наше туристическое агентство имеет разностороннее видение по созданию благоприятных условий для
                        встреч иностранных гостей и предоставление им туристических услуг, основанных на их
                        пожеланиях.<br>
                        Мы стремимся к формированию стабильных и взаимовыгодных отношений с нашими клиентами и
                        партнерами.
                        Мы с уверенностью смотрим в будущее и не довольствуемся достигнутыми успехами, развиваясь вместе
                        с
                        Вами. Для этого мы обладаем всеми необходимыми материальными, интеллектуальными и духовными
                        ресурсами.
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="a_bg2">
        <div class="a_content2 grid">
            <h3>Наша команда</h3>

            <div class="team">
                {% for item in personal %}
                    <div class="member">
                        <div class="member_img">
                            <img src="{{ item.image.url }}" alt="image">
                        </div>
                        <p>{{ item.name }}</p>
                        <span class="s_line"></span>

                        <p>{{ item.position }}</p>
                    </div>

                {% endfor %}
            </div>

            <div class="pagination">
                <a href="#"></a>
                <a href="#" class="active">1</a>
                <a href="#">2</a>
                <a href="#">3</a>
                <a href="#"></a>
            </div>
        </div>
    </div>

    <div class="a_bg3">
        <div class="a_content3 grid">
            <h3>Вакансии</h3>

            <div class="vacancies">
                <div class="vacancy">
                    <div class="v_title">Оператор</div>

                    <span class="s_line"></span>

                    <p>Оператор для приема звонков и
                        информирования клиентов
                        о направлениях и турах</p>

                    <p>з/п 15 000 сом</p>
                </div>

                <div class="vacancy">
                    <div class="v_title">Оператор</div>

                    <span></span>

                    <p>Оператор для приема звонков и
                        информирования клиентов
                        о направлениях и турах</p>

                    <p>з/п 15 000 сом</p>
                </div>

                <div class="vacancy">
                    <div class="v_title">Оператор</div>

                    <span></span>

                    <p>Оператор для приема звонков и
                        информирования клиентов
                        о направлениях и турах</p>

                    <p>з/п 15 000 сом</p>
                </div>

                <div class="vacancy">
                    <div class="v_title">Оператор</div>

                    <span></span>

                    <p>Оператор для приема звонков и
                        информирования клиентов
                        о направлениях и турах</p>

                    <p>з/п 15 000 сом</p>
                </div>
            </div>
        </div>
    </div>

    <div class="a_bg4">
        <div class="title_block">
            <div class="title_content grid">
                <h1>Социальные проекты</h1>
            </div>
        </div>
        <div class="a_content4 grid">
            <p>Cоциальные проекты, которые направлены на сохранение природы и в то же время на развитие культуры туризма
                в
                нашей стране. На сегодняшний день компания презентовала художественный фильм «Welcome to Kyrgyzstan», в
                котором отражена природа Кыргызской Республики в зимнее время. Основная идея создания фильма была в том,
                чтобы показать зрителям красоту природы кыргызской земли и побудить желание посетить нашу страну.</p>

            <a href="#">• «Welcome to Kyrgyzstan»</a>
        </div>
    </div>

{% endblock %}

