{% load staticfiles %}

<footer>
    <div class="grid content5">
        <a href="#" class="f_logo"><img src="{% static 'images/footer_logo.png' %}" alt="image"></a>

        <ul class="links">
            <li>BORBOR ASIA</li>
            <li><a href="#">О нас</a></li>
            <li><a href="#">О Кыргызстане</a></li>
            <li><a href="#">Чем заняться</a></li>
            <li><a href="#">Планировщик туров</a></li>
        </ul>

        <ul class="contacts">
            <li>Контакты</li>
            <li>+996 709 799 799 <br><br>
                +996 777 211 911 <br><br>
                +996 703 860 041
            </li>
            <li>borborasia@gmail.com</li>
            <li>
                <a href="https://2gis.kg/bishkek/geo/15763234350969836?queryState=center%2F74.573146%2C42.84439%2Fzoom%2F17"
                   target="_blank">Кыргызстан, Бишкек, <br> Бакинский переулок, 26</a></li>
        </ul>

        <ul class="share">
            <li class="exeption">мы в соцсетях</li>
            <li class="fb"><a class="social" href="#"></a></li>
            <li class="instagram"><a class="social" href="https://www.instagram.com/borborasia" target="_blank"></a>
            </li>
            <li class="twitter"><a class="social" href="https://twitter.com/BorborAsia" target="_blank"></a></li>
            <li class="youtube"><a class="social" href="https://www.youtube.com/channel/UC_tywNqJ4jNBo_vebfyqg6w"
                                   target="_blank"></a></li>
            <li class="google"><a class="social" href="https://plus.google.com/u/0/106512633201550285123"
                                  target="_blank"></a></li>
        </ul>
    </div>

    <div class="footer">
        <div class="f_content grid group">
            <span class="copyright">© 2017</span>

            <div class="sunrise">
                <span>Разработка проекта</span>
                <a href="http://sunrisestudio.pro" target="_blank"><img src="{% static 'images/sunrise_logo.png' %}"
                                                                        alt="sunrise"></a>
            </div>
        </div>
    </div>
</footer>