{% load staticfiles %}

<footer>
    <div class="grid content5">
        <a href="#" class="f_logo"><img src="{% static 'images/footer_logo.png' %}" alt="image"></a>

        <ul class="links">
            <li>BORBOR ASIA</li>
            <li><a href="#">О нас</a></li>
            <li><a href="#">Куда отправиться</a></li>
            <li><a href="#">Чем заняться</a></li>
            <li><a href="#">Планировщик туров</a></li>
        </ul>

        <ul class="contacts">
            <li>Контакты</li>
            <li>+996 550 055 577</li>
            <li>info@borborasia.kg</li>
            <li>Кыргызстан, Бишкек, <br> ул. Борбор</li>
        </ul>

        <ul class="share">
            <li class="exeption">мы в соцсетях</li>
            <li class="fb"><a class="social" href="#"></a></li>
            <li class="instagram"><a class="social" href="#"></a></li>
            <li class="twitter"><a class="social" href="#"></a></li>
            <li class="youtube"><a class="social" href="#"></a></li>
            <li class="google"><a class="social" href="#"></a></li>
        </ul>
    </div>

    <div class="footer">
        <div class="f_content grid group">
            <span class="copyright">© 2017</span>

            <div class="sunrise">
                <span>Разработка проекта</span>
                <a href="#"><img src="{% static 'images/sunrise_logo.png' %}" alt="sunrise"></a>
            </div>
        </div>
    </div>
</footer>