{% extends 'base.html' %}

{% load staticfiles %}

{% block content %}

    <div class="r_bg1">
        {% include 'header.html' %}

        <div class="r_content1 slider_grid">
            <div class="region_title">
                <h1>Нарынская область</h1>
            </div>

            <div class="slider">
                <div class="sl_slide">
                    <img src="{% static 'images/r_slide1.jpg' %}" alt="image">

                    <div class="cover"></div>
                </div>
                <div class="sl_slide">
                    <img src="{% static 'images/r_slide1.jpg' %}" alt="image">

                    <div class="cover"></div>
                </div>
                <div class="sl_slide">
                    <img src="{% static 'images/r_slide1.jpg' %}" alt="image">

                    <div class="cover"></div>
                </div>
            </div>
        </div>
    </div>

    <div class="r_bg2">
        <div class="r_content2 grid">
            <div class="r_block1">
                <div class="like"></div>
                <div class="r_share"></div>
            </div>
            <div class="r_block2">
                <div class="r_places">
                    <p>Нарынская область всегда была землей кочевников, живших здесь в гармонии с окружающей
                        природой</p>

                    <span class="s_line"></span>

                    <h3>Интересные места</h3>
                    <ul>
                        <li>• Сон Кол</li>
                        <li>• Кол Cуу</li>
                    </ul>

                    <div class="region">
                        <h3>Cон кол</h3>

                        <p>Многие называют озеро Сон-Куль «душой Кыргызстана», так как вода Сонкуля (иногда пишут как
                            Сонкёль, Сон-Кель) – чистейшая, пресная, а само озеро находится на высоте в 3016 метров.
                            Цвет
                            водной глади озера меняется несколько раз в день, становясь то насыщенно синим, то
                            пурпурно-голубым, то сочно зеленым.</p>

                        <p>Стоит отметить, что под стать природной красоте и чистоте, в здешних местах еще сохранилась и
                            душевная, человеческая чистота, какое-то возвышенное благородство, духовная отзывчивость.
                            Населяющие прибрежные территории Сон-Куля простые кыргызы – чабаны-животноводы сохранили все
                            эти
                            духовные ценности, которые постепенно утрачиваются в крупных мегаполисах.
                            Одно можно сказать точно – приехавший сюда человек, независимо от возраста, пола,
                            вероисповедания и национальности, до конца своей жизни влюбляется в этот край, и долго будет
                            хранить память о нем в самом теплом месте своего </p>
                    </div>

                    <div class="region">
                        <h3>кол суу</h3>

                        <p>В пограничной зоне Нарынской области в 550 км от города Бишкек есть еще одно великолепное и
                            завораживающее местечко. Называется оно долина Кок-Кыя. Одной из главных
                            достопримечательностей
                            этой местности является красивейшее озеро Кель-Суу.</p>

                        <p>Вода в озере Кель-Суу пресная и имеет оттенок зеленоватого цвета. Протяженность озера по
                            долине
                            Кок-Кыя составляет 15 километров. От начала долины до озера можно добраться в течение часа,
                            совершив увлекательную конную прогулку и одновременно насладиться красивым окружающим
                            пейзажем.
                            Согласно легендам дошедшими до нас из уст дедов и прадедов, в далекие времена Кол-Суу
                            спокойно
                            текла по своему руслу. Его водами для питья и орошения своих земель пользовались жители того
                            региона. Так как река текла из стороны Кытая, китайский батыр Ажымулук, в целях оставить
                            кыргызов без воды, орудуя кетменем соорудил подобия водоема. Вода стала заполнять водоем, и
                            жители низины оставшиеся без воды были вынуждены были переехать в другие места. В
                            подтверждение
                            этой легенды можно увидеть следы кетменов вокруг озера.</p>
                    </div>

                    <div class="video_block">
                        <h3>Видео</h3>
                        <div class="p_videos">
                            <div class="p_video">
                                <img src="{% static 'images/video1.png' %}" alt="image">
                            </div>
                            <div class="p_video">
                                <img src="{% static 'images/video1.png' %}" alt="image">
                            </div>
                            <div class="p_video">
                                <img src="{% static 'images/video1.png' %}" alt="image">
                            </div>
                            <div class="p_video">
                                <img src="{% static 'images/video1.png' %}" alt="image">
                            </div>
                            <div class="p_video">
                                <img src="{% static 'images/video1.png' %}" alt="image">
                            </div>
                            <div class="p_video">
                                <img src="{% static 'images/video1.png' %}" alt="image">
                            </div>
                            <div class="p_video">
                                <img src="{% static 'images/video1.png' %}" alt="image">
                            </div>
                            <div class="p_video">
                                <img src="{% static 'images/video1.png' %}" alt="image">
                            </div>
                            <div class="p_video">
                                <img src="{% static 'images/video1.png' %}" alt="image">
                            </div>
                        </div>
                    </div>

                    <div class="pagination">
                        <a href="#"></a>
                        <a href="#" class="active">1</a>
                        <a href="#">2</a>
                        <a href="#">3</a>
                        <a href="#"></a>
                    </div>
                </div>
            </div>
            <div class="r_block3">
                <div class="r_map">
                    <img src="{% static 'images/naryn.png' %}" alt="image">
                </div>
            </div>
        </div>
    </div>
{% endblock %}