{% extends 'base.html' %}

{% load staticfiles %}

{% block content %}

    <div class="review_container">
        {% include 'header.html' %}
        <div class="review_block grid">
            <div class="reviews">
                <div class="review">
                    <div class="review_img">
                        <img src="{% static 'images/review1.jpg' %}" alt="image">
                    </div>

                    <div class="review_desc">
                        <h3>кол суу</h3>

                        <p>В день поездки погода была отличная, озеро невероятной красоты. Дорога была долгой, и немного
                            утомительной, но оно того стоило. Успели сделать много снимков, насладиться природой и
                            услышать
                            множество историй. Более того узнала масу интересного от гида, мужчина оказался очень
                            приветливым и с энтузиазмом воспринимал задаваемые нами вопросы. Это был незабываемый опыт,
                            обязательно повторим.
                            В день поездки погода была отличная, озеро невероятной красоты. Дорога была долгой, и
                            немного
                            утомительной, но оно того стоило. Успели сделать много снимков, насладиться природой и
                            услышать
                            множество историй. Более того узнала масу интересного от гида, мужчина оказался очень
                            приветливым и с энтузиазмом воспринимал задаваемые нами вопросы. Это был незабываемый опыт,
                            обязательно повторим.
                        </p>

                        <div class="author">
                            <p>Давыдова Мадина</p>

                            <p>18.04.2017</p>
                        </div>
                    </div>

                </div>

                <div class="review">
                    <div class="review_img">
                        <img src="{% static 'images/review1.jpg' %}" alt="image">
                    </div>

                    <div class="review_desc">
                        <h3>кол суу</h3>

                        <p>В день поездки погода была отличная, озеро невероятной красоты. Дорога была долгой, и немного
                            утомительной, но оно того стоило. Успели сделать много снимков, насладиться природой и
                            услышать
                            множество историй. Более того узнала масу интересного от гида, мужчина оказался очень
                            приветливым и с энтузиазмом воспринимал задаваемые нами вопросы. Это был незабываемый опыт,
                            обязательно повторим. </p>

                        <div class="author">
                            <p>Давыдова Мадина</p>

                            <p>18.04.2017</p>
                        </div>
                    </div>

                </div>

                <div class="review">
                    <div class="review_img">
                        <img src="{% static 'images/review1.jpg' %}" alt="image">
                    </div>

                    <div class="review_desc">
                        <h3>кол суу</h3>

                        <p>В день поездки погода была отличная, озеро невероятной красоты. Дорога была долгой, и немного
                            утомительной, но оно того стоило. Успели сделать много снимков, насладиться природой и
                            услышать
                            множество историй. Более того узнала масу интересного от гида, мужчина оказался очень
                            приветливым и с энтузиазмом воспринимал задаваемые нами вопросы. Это был незабываемый опыт,
                            обязательно повторим. </p>

                        <div class="author">
                            <p>Давыдова Мадина</p>

                            <p>18.04.2017</p>
                        </div>
                    </div>

                </div>

                <div class="pagination">
                    <a href="#"></a>
                    <a href="#" class="active">1</a>
                    <a href="#">2</a>
                    <a href="#">3</a>
                    <a href="#"></a>
                </div>
            </div>

            <div class="review_form">
                <h3>Написать отзыв</h3>

                <label>
                    <input type="text" name="name">
                </label>

                <label>
                    <input type="text" name="surname">
                </label>

                <label>
                    <textarea></textarea>
                </label>

                <label for="custom-file-upload" class="filupp">
                    <span class="filupp-file-name js-value">Browse Files</span>
                    <input type="file" name="attachment-file" value="1" id="custom-file-upload">
                </label>

                <label>
                    <input type="submit" value="Отправить">
                </label>
            </div>
        </div>
    </div>


{% endblock %}