{% extends 'base.html' %}

{% load staticfiles %}

{% block content %}

    <div class="review_container">
        {% include 'header.html' %}
        <div class="review_block grid">
            <div class="reviews">

                {% for item in feedback %}
                    <div class="review">
                        <div class="review_img">
                            <img src="{{ item.image.url }}" alt="image">
                        </div>

                        <div class="review_desc">
                            <h3>{{ item.title }}</h3>

                            <p>{{ item.text }}</p>

                            <div class="author">
                                <p>{{ item.person }}</p>

                                <p>{{ item.timestamp }}</p>
                            </div>
                        </div>

                    </div>
                {% endfor %}
                <div class="pagination">
                    <a href="#"></a>
                    <a href="#" class="active">1</a>
                    <a href="#">2</a>
                    <a href="#">3</a>
                    <a href="#"></a>
                </div>
            </div>

            <div class="review_form">
                <h3>Написать отзыв</h3>

                <form method="post" action="#" class="r_form">
                    <label>
                        <input type="text" name="name" placeholder="Имя">
                    </label>

                    <label>
                        <input type="text" name="surname" placeholder="Фамилия*">
                    </label>

                    <label>
                        <textarea placeholder="Написать отзыв..."></textarea>
                    </label>

                    <label for="custom-file-upload" class="filupp">
                        <span class="filupp-file-name js-value">Прекрепить фото</span>
                        <input type="file" value="1" id="custom-file-upload">
                    </label>

                    <label>
                        <input type="submit" value="Отправить">
                    </label>
                </form>
            </div>
        </div>
    </div>


{% endblock %}