<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>BoborAsia</title>
    <link rel="stylesheet" href="assets/css/normalize.css" type="text/css">
    <link rel="stylesheet" href="assets/css/styles.css" type="text/css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>

<div class="review_container">
    <header>
        <div class="header grid group">
            <a href="#" class="logo"><img src="assets/images/logo.png" alt="logotype"></a>


            <div class="m_group">
                <nav>
                    <ul class="menu">
                        <li><a href="#">О нас</a></li>
                        <li><a href="#">КУДА ОТПРАВИТЬСЯ</a></li>
                        <li><a href="#">чем заняться</a></li>
                        <li><a href="#">планировщик туров</a></li>
                    </ul>
                </nav>

                <ul class="language">
                    <li><a href="#">ru</a><span>/</span></li>
                    <li><a href="#">eng</a></li>
                </ul>

                <ul class="extra_menu">
                    <li><a href="#"><img src="assets/images/search_icon.png" alt="search-icon"></a></li>
                    <li><a href="#"><img src="assets/images/menu_map.png" alt="map"></a></li>
                    <li>
                        <a href="#">
                            <img src="assets/images/favourite.png" alt="favourite">
                            <span>12</span>
                        </a>
                    </li>
                </ul>
            </div>

        </div>
    </header>
    <div class="review_block grid">
        <div class="reviews">
            <div class="review">
                <div class="review_img">
                    <img src="assets/images/review1.jpg" alt="image">
                </div>

                <div class="review_desc">
                    <h3>кол суу</h3>

                    <p>В день поездки погода была отличная, озеро невероятной красоты. Дорога была долгой, и немного
                        утомительной, но оно того стоило. Успели сделать много снимков, насладиться природой и услышать
                        множество историй. Более того узнала масу интересного от гида, мужчина оказался очень
                        приветливым и с энтузиазмом воспринимал задаваемые нами вопросы. Это был незабываемый опыт,
                        обязательно повторим.
                        В день поездки погода была отличная, озеро невероятной красоты. Дорога была долгой, и немного
                        утомительной, но оно того стоило. Успели сделать много снимков, насладиться природой и услышать
                        множество историй. Более того узнала масу интересного от гида, мужчина оказался очень
                        приветливым и с энтузиазмом воспринимал задаваемые нами вопросы. Это был незабываемый опыт,
                        обязательно повторим.
                    </p>

                    <div class="author">
                        <p>Давыдова Мадина</p>

                        <p>18.04.2017</p>
                    </div>
                </div>

            </div>

            <div class="review">
                <div class="review_img">
                    <img src="assets/images/review1.jpg" alt="image">
                </div>

                <div class="review_desc">
                    <h3>кол суу</h3>

                    <p>В день поездки погода была отличная, озеро невероятной красоты. Дорога была долгой, и немного
                        утомительной, но оно того стоило. Успели сделать много снимков, насладиться природой и услышать
                        множество историй. Более того узнала масу интересного от гида, мужчина оказался очень
                        приветливым и с энтузиазмом воспринимал задаваемые нами вопросы. Это был незабываемый опыт,
                        обязательно повторим. </p>

                    <div class="author">
                        <p>Давыдова Мадина</p>

                        <p>18.04.2017</p>
                    </div>
                </div>

            </div>

            <div class="review">
                <div class="review_img">
                    <img src="assets/images/review1.jpg" alt="image">
                </div>

                <div class="review_desc">
                    <h3>кол суу</h3>

                    <p>В день поездки погода была отличная, озеро невероятной красоты. Дорога была долгой, и немного
                        утомительной, но оно того стоило. Успели сделать много снимков, насладиться природой и услышать
                        множество историй. Более того узнала масу интересного от гида, мужчина оказался очень
                        приветливым и с энтузиазмом воспринимал задаваемые нами вопросы. Это был незабываемый опыт,
                        обязательно повторим. </p>

                    <div class="author">
                        <p>Давыдова Мадина</p>

                        <p>18.04.2017</p>
                    </div>
                </div>

            </div>

            <div class="pagination">
                <a href="#"></a>
                <a href="#" class="active">1</a>
                <a href="#">2</a>
                <a href="#">3</a>
                <a href="#"></a>
            </div>
        </div>

        <div class="review_form">
            <h3>Написать отзыв</h3>

            <label>
                <input type="text" name="name">
            </label>

            <label>
                <input type="text" name="surname">
            </label>

            <label>
                <textarea></textarea>
            </label>

            <label for="custom-file-upload" class="filupp">
                <span class="filupp-file-name js-value">Browse Files</span>
                <input type="file" name="attachment-file" value="1" id="custom-file-upload">
            </label>

            <label>
                <input type="submit" value="Отправить">
            </label>
        </div>
    </div>
</div>


<footer>
    <div class="grid content5">
        <a href="#" class="f_logo"><img src="assets/images/footer_logo.png" alt="image"></a>

        <ul class="links">
            <li>BORBOR ASIA</li>
            <li><a href="#">О нас</a></li>
            <li><a href="#">Куда отправиться</a></li>
            <li><a href="#">Чем заняться</a></li>
            <li><a href="#">Планировщик туров</a></li>
        </ul>

        <ul class="contacts">
            <li>Контакты</li>
            <li>+996 550 055 577</li>
            <li>info@borborasia.kg</li>
            <li>Кыргызстан, Бишкек, <br> ул. Борбор</li>
        </ul>

        <ul class="share">
            <li class="exeption">мы в соцсетях</li>
            <li class="fb"><a class="social" href="#"></a></li>
            <li class="instagram"><a class="social" href="#"></a></li>
            <li class="twitter"><a class="social" href="#"></a></li>
            <li class="youtube"><a class="social" href="#"></a></li>
            <li class="google"><a class="social" href="#"></a></li>
        </ul>
    </div>

    <div class="footer">
        <div class="f_content grid group">
            <span class="copyright">© 2017</span>

            <div class="sunrise">
                <span>Разработка проекта</span>
                <a href="#"><img src="assets/images/sunrise_logo.png" alt="sunrise"></a>
            </div>
        </div>
    </div>
</footer>

<script src="assets/js/jquery-3.1.0.min.js"></script>
<script src="assets/js/script.js"></script>
</body>
</html>