{% extends 'base.html' %}

{% load staticfiles %}

{% block content %}

    <div class="todo_bg">
        {% include 'header.html' %}
        <div class="todo_content grid">
            <div class="activities">
                <div class="tours_block">
                    <h4>Занятия</h4>

                    <div class="img_block">
                        <img src="{% static 'images/todo_img1.jpg' %}" alt="image">
                    </div>
                    <ul class="todo_list">
                        <li><a href="#"> Озера и ущелья</a></li>
                        <li><a href="#"> Национальные лакомства</a></li>
                        <li><a href="#"> 10 вещей которые стоит попробовать</a></li>
                        <li><a href="#"> Развлечения</a></li>
                    </ul>
                </div>

                <div class="tours_block">
                    <h4>Маршруты</h4>

                    <div class="img_block">
                        <img src="{% static 'images/todo_img2.jpg' %}" alt="image">
                    </div>
                    <ul class="todo_list">
                        <li><a href="#"> Наиболее популярные маршруты</a></li>
                        <li><a href="#"> Тур вокруг озера Иссык-Куль</a></li>
                        <li><a href="#"> Идеи для трехнедельного путешествия</a></li>
                        <li><a href="#"> Трехдневные маршруты</a></li>
                    </ul>
                </div>

                <div class="tours_block">
                    <h4>Инфонмация</h4>

                    <div class="img_block">
                        <img src="{% static 'images/information_img.jpg' %}" alt="image">
                    </div>
                    <ul class="todo_list">
                        <li><a href="#"> Специальные предложения</a></li>
                        <li><a href="#"> Посмотреть Кыргызстан на карте</a></li>
                        <li><a href="#"> Узнать о предстоящих событиях</a></li>
                        <li><a href="#"> Отзывы</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>


{% endblock %}