{% extends 'base.html' %}

{% load staticfiles %}

{% block content %}

    <div class="t_bg1">
        {% include 'header.html' %}
        <div class="t_content1 grid">
            <div class="tours_blocks">
                <div class="tours_block">
                    <h4>О Кыргызстане</h4>

                    <div class="img_block">
                        <img src="{% static 'images/ala_archa.jpg' %}" alt="image">
                    </div>

                    <ul class="todo_list">
                        <li><a href="#">Любимые места туристов</a></li>
                        <li><a href="#">Интересные факты</a></li>
                        <li><a href="#">Столица</a></li>
                    </ul>
                </div>

                <div class="tours_block">
                    <h4>Перед поездкой</h4>

                    <div class="img_block">
                        <img src="{% static 'images/trip_img.jpg' %}" alt="image">
                    </div>

                    <ul class="todo_list">
                        <li><a href="#">Подготовка документов</a></li>
                        <li><a href="#">Виды транспорта</a></li>
                        <li><a href="#">Таможня</a></li>
                    </ul>
                </div>

                <div class="tours_block">
                    <h4>Запланируйте путешествие</h4>

                    <div class="img_block">
                        <img src="{% static 'images/adventure_img.jpg' %}" alt="image">
                    </div>

                    <ul class="todo_list">
                        <li><a href="#">Найти жилье</a></li>
                        <li><a href="#">Найти туры</a></li>
                        <li><a href="#">Посмотреть Кыргызстан на карте</a></li>
                    </ul>
                </div>
            </div>
        </div>

    </div>

    <div class="t_bg2">
        <div class="t_content2 grid">
            <h2>Туры</h2>

            <div class="tours tours_cart">
                {% for item in tours %}
                    <a href="{% url 'single_tour' id=item.id %}" class="place">
                        <span class="n_place">{{ item.place }}</span>

                        <div class="p_hover">
                            <div class="h_content">
                                <span>Посмотреть</span>
                            </div>
                        </div>

                        <div class="tour_desc">
                            <div class="tour_title">{{ item.name }}</div>
                            <p>{{ item.description }} </p>
                            <ul class="season">
                                <li {% if item.summer == False %} class="hidden" {% endif %}>лето</li>
                                <li {% if item.winter == False %} class="hidden" {% endif %}>Зима</li>
                            </ul>
                        </div>
                        <img src="{{ item.main_image.url }}" alt="image">
                        <div class="shadow"></div>
                    </a>

                {% endfor %}

            </div>

            <div class="pagination">
                {% if tours.has_previous %}
                    <a href="?page={{ tours.previous_page_number }}"></a>
                {% endif %}

                {% for page_number in tours.paginator.page_range %}
                    {% if page_number == tours.number %}
                        <a href="?page={{ page_number.number }}" class="active">{{ page_number }}</a>
                    {% else %}
                        <a href="?page={{ page_number.number }}">{{ page_number }}</a>
                    {% endif %}
                {% endfor %}
                {% if tours.has_next %}
                    <a href="?page={{ tours.next_page_number }}"></a>
                {% endif %}
            </div>
        </div>
    </div>

{% endblock %}